<a href="#" data-toggle="modal" data-target="#myModal" id="new_repo_modal" class="btn btn-primary">+ repository</a>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">add a new repo</h4>
      </div>
      <div class="modal-body">
        <%= render 'repositories/new', {repository: Repository.new} %>
      </div>
      <div class="modal-footer">
       <button type="submit" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>