<li class="list-group-item">
  <span class="badge" data-repo="<%=repo.id%>" id="issue-count"><%=repo.issues.count%></span>
  <strong><%=repo.name.gsub("-", " ").capitalize %></strong>
    <%= render partial: "issues/issue", collection: repo.issues%>
</li>