<h1>About</h1>

<p>This project is maintained by <a href="http://www.sophiedebenedetto.nyc">Sophie DeBenedtto.</a> </p>

<p>You can view the source code <a href="https://github.com/sophiedebenedetto/flatiron-issue-trackr">here</a></p>
