<div class="jumbotron">
  <h1>Welcome to Issue Trackr</h1>
  <p>add your GitHub repo and start tracking your issues!</p>
  <p>receive emails and texts when an issue has been opened, changed or closed on one of your repos</p>
</div>
<footer class="panel-footer navbar navbar-fixed-bottom">
  <p>Made with <3 at the Flatiron School | <a href="/about">about</a></p>
</footer>