// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#nav-bar-avatar {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

#profile-avatar {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin-left: 15px
}